<h2>{{ message }}</h2>
<p>If there are no saved recipes should display a message explaining how it works. Maybe this include from recipe-file2.hbs and an if statment will be good for that.</p>

{{!> moreContentOne}}
{{!> moreContentTwo}}



