<!-- NOTE: It appears that partial names can't include numeric--only alpha -->

<!--#?firstSection-->
<p>
    This content came from the 'firstSection' partial.
</p>
<!--#?end-->


<!--#?secondSection-->
<p>
    ... and this content came from the 'secondSection' partial.
</p>
<!--#?end-->


<!--#?moreContentOne-->
<p>
    Here's some text from the 'moreContent1' partial.
</p>
<!--#?end-->


<!--#?moreContentTwo-->
<p>
    ... and I'm from 'moreContent2'!
</p>
<!--#?end-->

