<h2>{{ message }}</h2>
<p>Seems unlikely I'll need another include on the recipe detail pages but in case I do this is wired up to recipe-detail2.hbs.</p>

{{!> moreContentOne}}
{{!> moreContentTwo}}



